
       <!--  <div class="col-sm-12">
           <router-outlet></router-outlet>
       </div>
            --><style>
html,
body,
.container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
</style>
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-6 col-md-offset-3">
            <md-card>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                    <div class="row col-md-2 text-right">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <md-input class="col-xs-12" placeholder="User Name" align="start" [(ngModel)]="username">
                        </md-input>
                        <md-input class="col-xs-12" placeholder="Password" align="start" [(ngModel)]="password">
                        </md-input>
                    </div>
                    <div style="display: inline-block; vertical-align: middle" class="col-xs-12 text-right">
                        <button (click)='login(username,password)'>
                            Login
                        </button>
                    </div>
                </div>
            </md-card>
        </div>
    </div>

</div>
