<style>
.example-fill-remaining-space {
    flex: 1 1 auto;
}

md-toolbar {
    background: url('../assets/toolbarbg.png');
    color: #ffffff !important;
}

.demo-sidenav-layout {
    height: 90vh;
    md-sidenav {
        padding: 10px;
    }
}

.demo-sidenav-content {
    padding: 15px;
}

md-sidenav {
    width: 200px !important;
}

md-sidenav button {
    text-align: left !important;
    width: 100%;
    padding: 8px;
}

.actAsButton {
    padding: 0px 16px !important;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87) !important;
}

.actAsButton a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87) !important;
}

.md-sidenav-content {
    overflow: auto !important
}

.demo-sidenav-content[_ngcontent-prg-1] {
    height: 100%;
    overflow: auto
}
</style>
<md-toolbar color="primary">
    <button class="hide-on-med-and-up" (click)="start.toggle()" md-icon-button>
        <md-icon>menu</md-icon>
    </button>
    <img src="../assets/Logo (1).png" height="53" width="60" />
    <span class="hide-on-small-and-down"> Translytix</span>
    <span class="example-fill-remaining-space"></span>
    <span>
         <button md-icon-button (click) = 'logout()'>
            <md-icon>power_settings_new</md-icon>
        </button>
    </span>
</md-toolbar>
<md-sidenav-layout class="demo-sidenav-layout">
    <md-sidenav #start opened={{openMode}} mode={{mode}}>
        <div class="row">
            <div *ngIf='userMenu=="admin"' class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a style="text-decoration: none" class="active" (click)="bid=false; selectedRow='shipment'" routerLink="/shipment">POD</a></li>
                    <li class="tab col s6"><a style="text-decoration: none" (click)="bid=true;selectedRow='uploadlanes'" routerLink="/uploadlanes">BID</a></li>
                </ul>
            </div>
            <div *ngIf="!bid" [hidden]="userMenu != 'admin'" class="col s12">
                <a routerLink="/shipment" (click)="openMode ? '' : start.toggle(); selectedRow='shipment'; myVar=false" [class.selected]="selectedRow=='shipment'" class="actAsButton col s12">
                    <img src="../assets/Shipment.svg" height="40" width="24" style="padding-right: 8px" /> Shipment
                </a>
                <br>
                <a class="actAsButton col s12" (click)="myVar =! myVar; selectedRow='master'" [class.selectedMainMenu]="((selectedRow=='users') || (selectedRow=='depot') || (selectedRow=='master'))" style="cursor: pointer;">
                    <img src="../assets/Master.svg" height="40" width="24" style="padding-right: 8px" /> Master
                    <md-icon *ngIf="!myVar" class="pull-right" style="margin-top: 8px; color: rgba(0,0,0,0.6)">arrow_drop_down</md-icon>
                    <md-icon *ngIf="myVar" class="pull-right" style="margin-top: 8px; color: rgba(0,0,0,0.6)">arrow_drop_up</md-icon>
                </a>
                <ul [hidden]="!myVar" style="text-decoration: none; list-style: none; padding: 8px">
                    <li (click)="openMode ? '' : start.toggle(); selectedRow='users'">
                        <a routerLink="/users" class="actAsButton col s12" [class.selected]="selectedRow=='users'">
                            <img src="../assets/User.svg" height="40" width="24" style="padding-right: 8px; margin-left:8px" /> Users
                        </a>
                    </li>
                    <li (click)="openMode ? '' : start.toggle(); selectedRow='depot'">
                        <a routerLink="/depot" class="actAsButton col s12" [class.selected]="selectedRow=='depot'">
                            <img src="../assets/Depot.svg" height="40" width="24" style="padding-right: 8px; margin-left:8px" /> Depots
                        </a>
                    </li>
                </ul>
                <br>
            </div>
            <div *ngIf="bid" class="col s12">
                <a [hidden]="userMenu == 'admin'" routerLink="/mybids" (click)="openMode ? '' : start.toggle(); selectedRow='mybids';myVarBid=false " [class.selected]="selectedRow=='mybids'" class="actAsButton col s12">
                    <img src="../assets/Shipment.svg" height="40" width="24" style="padding-right: 8px" /> My Bids
                </a>
                <a [hidden]="userMenu == 'admin'" routerLink="/laneopportunities" (click)="openMode ? '' : start.toggle(); selectedRow='laneopportunities';myVarBid=false " [class.selected]="selectedRow=='laneopportunities'" class="actAsButton col s12">
                    <img src="../assets/Shipment.svg" height="40" width="24" style="padding-right: 8px" /> Lane Opportunities
                </a>
                <a [hidden]="userMenu != 'admin'" routerLink="/uploadlanes" class="actAsButton col s12" (click)="openMode ? '' : start.toggle(); selectedRow='uploadlanes';myVarBid=false " [class.selected]="selectedRow=='uploadlanes'">
                    <img src="../assets/User.svg" height="40" width="24" style="padding-right: 8px; margin-left:8px" /> Upload Lanes
                </a>
                <a [hidden]="userMenu != 'admin'" routerLink="/managebidders" class="actAsButton col s12" (click)="openMode ? '' : start.toggle(); selectedRow='managebidders';myVarBid=false " [class.selected]="selectedRow=='managebidders'">
                    <img src="../assets/Depot.svg" height="40" width="24" style="padding-right: 8px; margin-left:8px" /> Manage Bidders
                </a>
                <a [hidden]="userMenu != 'admin'" routerLink="/reviewbids" class="actAsButton col s12" (click)="openMode ? '' : start.toggle(); selectedRow='reviewbids';myVarBid=false " [class.selected]="selectedRow=='reviewbids'">
                    <img src="../assets/Depot.svg" height="40" width="24" style="padding-right: 8px; margin-left:8px" /> Review Bids
                </a>
            </div>
        </div>
    </md-sidenav>
    <div (window:resize)="onResize($event)" class="demo-sidenav-content" style="overflow: hidden; padding: 0 !important ">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-layout>
