<style>
.dropdown-item {
    width: 100%;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.dropdown-item:hover {
    background: #E5E5E5;
}

.datepicker__input {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
</style>
<div style="overflow-y: auto; height: 100%; width: 99%; ">
    <div class="row col s12" style=" margin: 8px 8px 0px 8px ;overflow: hidden; height:91%; display: inline-block; width: 100%">
        <md-card class="col s12" style="display: inline-block; height: 99%; overflow-x: hidden;">
            <md-card-title style="color: rgba(0,0,0,0.7); font-size: 12px; margin:0 !important">
                <div class="row" style="margin:0 !important; margin-bottom:0px important">
                    <span class="col l4 m3 s10" style="padding:16px; font-size: 24px">Upload Lanes</span>
                    <span class=" col m7 s2 pull-right text-right" style="padding-top:16px !important">
                </span>
                </div>
            </md-card-title>
            <md-card-content class="col s12" style="overflow-y: auto; overflow-x: hidden;">
                <div class="row s12" style="margin: 0 !important; ">
                    <div class="file-field input-field">
                        <div class="btn" style="line-height: 2rem">
                            <span>Upload excel file</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <a class="waves-effect waves-light btn">Submit</a>
                <div class="row s12">
                    <table class="table table-striped scroll" style="font-size: 12px; overflow-x: hidden;">
                        <thead>
                            <tr>
                                <th style="text-decoration: none">
                                    From City
                                </th>
                                <th style="text-decoration: none">
                                    From State
                                </th>
                                <th style="text-decoration: none">
                                    To City
                                </th>
                                <th style="text-decoration: none">
                                    To State
                                </th>
                                <th style="text-decoration: none">
                                    Distance
                                </th>
                                <th style="text-decoration: none">
                                    Lane Date From
                                </th>
                                <th style="text-decoration: none">
                                    Lane Date To
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ABC</td>
                                <td>ZZZ</td>
                                <td>CBA</td>
                                <td>ZAZ</td>
                                <td>189</td>
                                <td>21-11-2016</td>
                                <td>21-11-2016</td>
                            </tr>
                            <tr>
                                <td>ABC</td>
                                <td>ZZZ</td>
                                <td>CBA</td>
                                <td>ZAZ</td>
                                <td>189</td>
                                <td>21-11-2016</td>
                                <td>21-11-2016</td>
                            </tr>
                            <tr>
                                <td>ABC</td>
                                <td>ZZZ</td>
                                <td>CBA</td>
                                <td>ZAZ</td>
                                <td>189</td>
                                <td>21-11-2016</td>
                                <td>21-11-2016</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
