<style>
.dropdown-item {
    width: 100%;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.dropdown-item:hover {
    background: #E5E5E5;
}

.datepicker__input {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
</style>
<div style="overflow-y: auto; height: 100%; width: 99%; ">
    <div (window:resize)="onResize($event)" class="row col s12" style=" margin: 8px 8px 0px 8px ;overflow: hidden; height:91%; display: inline-block; width: 100%">
        <md-card class="col s12" style="display: inline-block; height: 99%;">
            <md-card-title style="color: rgba(0,0,0,0.7); font-size: 12px; margin:0 !important">
                <div class="row" style="margin:0 !important; margin-bottom:0px important">
                    <span class="col l4 m3 s10" style="padding:16px; font-size: 24px">My Current Bids</span>
                    <span class=" col m7 s2 pull-right text-right" style="padding-top:16px !important">
                    <button class="" (click)='refreshBids()' md-icon-button>
                        <md-icon>refresh </md-icon>
                    </button>
                </span>
                </div>
                <div style="height:2px !important">
                    <md-progress-bar mode="indeterminate" *ngIf="promiseCurrentBids"></md-progress-bar>
                </div>
            </md-card-title>
            <md-card-content class="col s12" style="overflow: auto; height:65% !important; width:100%">
                <div class="row s12" style="margin: 0 !important; padding:0px !important; border-bottom: 1px solid rgba(0,0,0,0.1); ">
                    <div (swipeleft)="onSwipeLeft($event.type)" (swiperight)="onSwipeRight($event.type)" id="test" class="col s12 m11 l11" style="margin: 0 !important; padding:0px !important; display: inline-block;">
                        <div class="row s12" style="margin: 0 !important; padding:0px !important; ">
                            <div class="col s9" style="margin: 0 !important">
                                <h4 style="padding-left: 8px">Group Name</h4>
                                <div class="col s12" style="font-size: 1.3rem"><strong>City:</strong> MAS To MDU
                                </div>
                                <div class="col s12" style="font-size: 1.3rem"><strong>State:</strong> TN To TN
                                </div>
                            </div>
                            <div class="col s3" style="display: inline-block; padding-top:8px; text-align: right;">
                                <div class="col s12" style="font-size: 1rem; padding:0px !important">22-11-2016
                                    <br>11:00 AM </div>
                                <div class="col s12" style="font-size: 1rem; padding:0px !important"><strong> Distance</strong> 110 Miles </div>
                            </div>
                        </div>
                        <div class="row s12" style="margin: 0 0 8px 0!important; padding-left: 8px">
                            <div class="col s6 m3 l3" style="font-size: 1.3rem"><strong>Type:</strong>
                            </div>
                            <div class="col s6 m3 l3" style="font-size: 1.3rem"><strong>1WayLH:</strong>
                            </div>
                            <div class="col s6 m3 l3" style="font-size: 1.3rem"><strong>RTLH</strong>
                            </div>
                            <div class="col s6 m3 l3" style="font-size: 1.3rem"><strong>Drop trailors</strong>
                            </div>
                        </div>
                    </div>
                    <div id="testDel" class="col s1" style="margin: 20px 0 0 0!important; padding-left: 8px">
                        <button class="" (click)='refreshBids()' md-icon-button>
                            <md-icon>delete </md-icon>
                        </button>
                    </div>
                </div>
            </md-card-content>
            <!-- <div class="row s12 pull-right" style="padding: 16px">
            <pagination-controls (pageChange)="refreshShipments($event,myModel)" #api></pagination-controls>
        </div> -->
        </md-card>
    </div>
    <div class="row col s12" style=" margin: 8px 8px 0px 8px ; display: inline-block; width: 100%">
        <div class="col s12 m7">
            <md-card class="col" style="display: inline-block; height: 99%; width: 100%">
                <md-card-title style="color: rgba(0,0,0,0.7); font-size: 12px; margin:0 !important">
                    <div class="row" style="margin:0 !important; margin-bottom:0px important">
                        <span class="col l10 m10 s10" style="padding:16px; font-size: 24px">Lane Opportunities</span>
                        <span class=" col m2 s2 pull-right text-right" style="padding-top:16px !important">
                   <button class="" (click)='refreshBids()' md-icon-button>
                       <md-icon>refresh </md-icon>
                   </button>
               </span>
                    </div>
                    <div style="height:2px !important">
                        <md-progress-bar mode="indeterminate" *ngIf="promiseCurrentBids"></md-progress-bar>
                    </div>
                </md-card-title>
                <md-card-content class="col s12" style="overflow-x: hidden; overflow-y: auto; height:80% !important; width:100%">
                    <div class="row s12" style="margin: 0 !important; padding:8px 0px 0px 0px!important; border-bottom: 1px solid rgba(0,0,0,0.1); ">
                        <div class="input-field col s10 m6">
                            <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                            <label for="username">From City</label>
                        </div>
                        <div class="input-field col s10 m6">
                            <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                            <label for="username">To City</label>
                        </div>
                        <div class="input-field col s10 m6">
                            <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                            <label for="username">From State</label>
                        </div>
                        <div class="input-field col s10 m6">
                            <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                            <label for="username">To State</label>
                        </div>
                        <div class="input-field col s10 m6">
                            <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                            <label for="username">Type</label>
                        </div>
                    </div>
                    <div class="row s12">
                        <table class="table table-striped scroll" style="font-size: 12px; overflow-x: hidden;">
                            <thead>
                                <tr>
                                    <th style="text-decoration: none">
                                        From City
                                    </th>
                                    <th style="text-decoration: none">
                                        From State
                                    </th>
                                    <th style="text-decoration: none">
                                        To City
                                    </th>
                                    <th style="text-decoration: none">
                                        To State
                                    </th>
                                    <th style="text-decoration: none">
                                        Distance
                                    </th>
                                    <th style="text-decoration: none">
                                        Lane Date From
                                    </th>
                                    <th style="text-decoration: none">
                                        Lane Date To
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div class="col s12 m5">
            <md-card class="col s12" style="display: inline-block; height: 99%;">
                <md-card-title style="color: rgba(0,0,0,0.7); font-size: 12px; margin:0 !important">
                    <div class="row" style="margin:0 !important; margin-bottom:0px important">
                        <span class="col s12" style="padding:16px; font-size: 24px">Make Bid</span>
                    </div>
                    <div style="height:2px !important">
                        <md-progress-bar mode="indeterminate" *ngIf="promiseCurrentBids"></md-progress-bar>
                    </div>
                </md-card-title>
                <md-card-content class="col s12" style="overflow: auto; height:80% !important; width:100%">
                    <div class="row s12" style="margin: 0 !important; padding:0px !important; ">
                        <div class="col s12 m8">
                            <div class="col s6" style="height: 30px">
                                <strong>Group Name</strong>
                            </div>
                            <div class="col s6" style="height: 30px">
                                Group Name
                            </div>
                            <div class="col s6" style="height: 30px">
                                <strong>From city</strong>
                            </div>
                            <div class="col s6" style="height: 30px">
                                from city
                            </div>
                            <div class="col s6" style="height: 30px">
                                <strong>To city</strong>
                            </div>
                            <div class="col s6" style="height: 30px">
                                to city
                            </div>
                            <div class="col s6" style="height: 30px">
                                <strong>From State</strong>
                            </div>
                            <div class="col s6" style="height: 30px">
                                from state
                            </div>
                            <div class="col s6" style="height: 30px">
                                <strong>To State</strong>
                            </div>
                            <div class="col s6" style="height: 30px">
                                to state
                            </div>
                            <div class="col s6" style="height: 30px">
                                <strong>Distance Miles</strong>
                            </div>
                            <div class="col s6" style="height: 30px">
                                Distance Miles
                            </div>
                            <div class="col s6" style="height: 30px">
                                <strong>Lane Date From</strong>
                            </div>
                            <div class="col s6" style="height: 30px">
                                Lane Date From
                            </div>
                            <div class="col s6" style="height: 30px">
                                <strong>Lane Date To</strong>
                            </div>
                            <div class="col s6" style="height: 30px">
                                Lane Date To
                            </div>
                            <div class="col s6" style="height: 30px">
                                <strong>Bid Date Time</strong>
                            </div>
                            <div class="col s6" style="height: 30px">
                                Bid Date Time
                            </div>
                        </div>
                        <div class="hide-on-small-and-down col m4" style="border: 1px solid rgba(0,0,0,0.2); height: 60%">
                        </div>
                        <div class="col s12">
                            <div class="input-field col s10 m12">
                                <!-- <input placeholder="User Name" id="depot_name" [(ngModel)]="user.name" type="text"> -->
                                <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                                <label for="username">Type</label>
                            </div>
                            <div class="input-field col s10 m12">
                                <!-- <input placeholder="User Name" id="depot_name" [(ngModel)]="user.name" type="text"> -->
                                <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                                <label for="username">1Way LH</label>
                            </div>
                            <div class="input-field col s10 m12">
                                <!-- <input placeholder="User Name" id="depot_name" [(ngModel)]="user.name" type="text"> -->
                                <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                                <label for="username">RT LH</label>
                            </div>
                            <div class="input-field col s10 m12">
                                <!-- <input placeholder="User Name" id="depot_name" [(ngModel)]="user.name" type="text"> -->
                                <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                                <label for="username">Expedite LH</label>
                            </div>
                            <div class="input-field col s10 m12">
                                <!-- <input placeholder="User Name" id="depot_name" [(ngModel)]="user.name" type="text"> -->
                                <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                                <label for="username">Drop Trailors</label>
                            </div>
                        </div>
                        <div class="col s12">
                            <a class="waves-effect waves-light btn">Submit</a>
                            <a class="waves-effect waves-light btn">Cancel</a>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
